.table-container{

background:white;

border-radius:15px;

border:1px solid var(--border);

overflow:hidden;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#fafafa;

font-size:13px;

color:#667085;

text-align:left;

padding:16px;

}

td{

padding:15px;

border-top:1px solid var(--border);

font-size:14px;

}

tr:hover{

background:#fbfcf8;

}

.actions button{

border:none;

background:none;

cursor:pointer;

font-size:18px;

}