<aside class="sidebar">
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      <lucide-angular [img]="House"></lucide-angular>
      <span>Accueil</span>
    </a>

    <a routerLink="/animals" routerLinkActive="active">
      <lucide-angular [img]="PawPrint"></lucide-angular>
      <span>Gestion des animaux</span>
    </a>

    <a routerLink="/health" routerLinkActive="active">
      <lucide-angular [img]="HeartPulse"></lucide-angular>
      <span>Suivi sanitaire</span>
    </a>

    <a routerLink="/reproduction" routerLinkActive="active">
      <lucide-angular [img]="Baby"></lucide-angular>
      <span>Reproduction</span>
    </a>

    <a routerLink="/alerts" routerLinkActive="active">
      <lucide-angular [img]="TriangleAlert"></lucide-angular>
      <span>Alertes</span>
    </a>

    <a routerLink="/statistics" routerLinkActive="active">
      <lucide-angular [img]="ChartColumn"></lucide-angular>
      <span>Tableau de bord</span>
    </a>

    <a routerLink="/users" routerLinkActive="active">
      <lucide-angular [img]="User"></lucide-angular>
      <span>Mon profil</span>
    </a>

    <a routerLink="/historique" routerLinkActive="active">
      <lucide-angular [img]="History"></lucide-angular>
      <span>Mon historique</span>
    </a>
  </nav>
</aside>